<header class="nav-container">
  <div class="nav-item nav-item-logo">
    <a href="index.html">Customs⚙️Kit</a>
  </div>

  <div class="nav-item nav-item-menu" id="nav-menu">
    <ul>
      <li>
        <a href="calc.html"> СД | Расчет срока ИМ</a>
      </li>

      <li>
        <a href="currency.html">СД | Конвертор валют</a>
      </li>

      <li>
        <a href="base64-converter.html">ДТ | Извлечь файлы из XML</a>
      </li>

      <li>
        <a href="stat-analyzer.html">СД | Контроль данных XML</a>
      </li>

      <li>
        <a href="about.html"> О приложении </a>
      </li>
    </ul>
  </div>

  <div class="nav-item nav-item-toggle" id="nav-toggle">
    <div class="toggle-bar toggle-bar-top"></div>
    <div class="toggle-bar toggle-bar-middle"></div>
    <div class="toggle-bar toggle-bar-bottom"></div>
  </div>
</header>
